@charset "utf-8";
// 0 - TOOLS
// *** CSS Resets, etc ***
@use './0-tools/__tools.scss';

// 1 - HELPERS
// *** All variables, mixins.scss and functions.scss ***

// 2 - Base
// *** It includes basic styles to HTML tags like H1, H2, section, article, ul ***
@use './2-base/__base.scss';

// layouts
.dashboard-layout {
  padding: 1.5rem;
}

.lists-layout {
  min-width: 62.5rem;
}

.task-layout {
  width: 15rem;
}

//list
.list-item {
  //create variable - reuse for add list
  border: 0.1rem solid lightgrey;
  margin: 1rem;
  width: 25rem;
  padding: 1rem;
}

//Typography
.dashboard-title {
  //set variable - pick color
  color: orange;
}

.list-title {
  //set variable
  color: rgb(71, 71, 71);
}

.task-title {
  //check why not bold
  font-weight: 900;
}

.task-description {
  font-weight: bold;
}

//buttons
.del-list-button {
  margin-top: 1rem;
}

//tasks

//flex-layout
.flex-container {
  display: flex;
  // flex-direction: column;
  // @include mixins.media-queries(mobile, min) {
  //   flex-direction: row;
  // }
}
.center-flex {
  justify-content: center;
}

.right-flex {
  justify-content: right;
}

.flex-row {
  flex-direction: row;

  // &-reverse {
  //   flex-direction: row-reverse;
  // }
}
.flex-wrap {
  flex-wrap: wrap;
}
