.flex-container {
  display: flex;
}

.center-flex {
  justify-content: center;
}

.right-flex {
  justify-content: right;
}

.flex-row {
  flex-direction: row;
}

.flex-wrap {
  flex-wrap: wrap;
}

.fit-parent {
  width: 100%;
  height: 100%;
}
